@tailwind base;
@tailwind components;
@tailwind utilities;

.imagen-responsive {
    max-width: 100%; /* La imagen no superará el ancho del contenedor padre */
    height: auto; /* Mantendrá la proporción de aspecto original */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente si es necesario */
    /* Ajusta el tamaño según tus necesidades */
    width: 200px; /* Ancho deseado */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
  }

  .hover-effect:hover img {
    /* Estilos para la imagen al hacer hover en el div padre */
    transform: scale(1.1); /* Ejemplo: aumentar el tamaño */
    transition: transform 0.3s ease-in-out; /* Transición suave */
  }
  
  .hover-effect:hover h2 {
    /* Estilos para el h2 al hacer hover en el div padre */
    text-decoration-line: underline; /* Subrayado */
    /* Otros estilos aquí */
  }

  .zoomable-image {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  
  @media (min-width: 750px) and (max-width: 1920px) and (orientation: landscape) {
    
    /* .paddingDesktopCarrito{
      padding: 0px 250px
    } */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
  }  